// Menu Links

.nav-link {
  color: $black;
  font-size: $font-size-little;
  font-weight: $font-weight-medium;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    padding-right: .75rem !important;
    padding-left: .75rem !important;
  }

  // @include media-breakpoint-up(xl) {
  //   padding-right: 1.25rem !important;
  //   padding-left: 1.25rem !important;
  // }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $black;
  }

  &.search {
    span {
      display: block;
      position: relative;
      padding-left: 1.5rem;

      &::before {
      	content: '';
      	display: block;
      	width: 24px;
      	height: 24px;
      	position: absolute;
      	top: 50%;
      	left: 0;
      	-webkit-transform: translateY(-50%);
      	transform: translateY(-50%);
      	background-image: url("../img/search-pictos.svg");
      	background-position: -24px center;
      	background-repeat: no-repeat;
      }
    }
  }
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: max-height .2s, visibility .2s;
  overflow: hidden;
  padding: .5rem 0;
}

.dropdown-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: $headings-line-height;
  font-size: $font-size-little;
  font-weight: $font-weight-medium;
  text-transform: none !important;
  white-space: normal;

  &.search {
    span {
      display: block;
      position: relative;
      padding-left: 1.5rem;

      &::before {
      	content: '';
      	display: block;
      	width: 24px;
      	height: 24px;
      	position: absolute;
      	top: 50%;
      	left: 0;
      	-webkit-transform: translateY(-50%);
      	transform: translateY(-50%);
      	background-image: url("../img/search-pictos.svg");
      	background-position: -24px center;
      	background-repeat: no-repeat;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active,
  &.active {
    color: $black;
  }
}

#main-nav {
  .nav-link {
    text-transform: uppercase;
  }

  .navbar-nav {
    > .nav-item {
      &:last-child { // donate link
        > .nav-link {
          background-color: $donate-pink;
          color: $white;

          @include media-breakpoint-up(md) {
            margin-right: -1rem;
            padding-right: 2.25rem;
          }
        }
      }
    }
  }

  .dropdown-menu {
    min-width: 16.5rem;
    max-width: 16.5rem;
  }

  .navbar-nav {
    > .nav-item {
      &:first-child { // Foundation link
        .dropdown-menu {
          min-width: 10rem;
        }
      }

      &:last-child { // Support link
        .dropdown-menu {
          background-color: $donate-pink;
        }

        .dropdown-item {
          color: $white;
        }
      }
    }
  }

  .item-1529 { // Donner maintenant
    .dropdown-item {
      text-transform: uppercase !important;
    }
  }
}

.show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}

.nav-item:last-child {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.headroom--unpinned {
  .show > .dropdown-menu {
    max-height: 0;
    visibility: hidden;
  }
}

#second-nav {
  .nav-link {
    line-height: 24px; // Height of fas
  }

  @include media-breakpoint-up(lg) {
    .nav-link {
      &.search {
        span {
          width: 24px;
          overflow: hidden;

          &::before {
            background-position: 0 center;
          }
        }
      }
    }
  }
}

.social-links {
  font-size: 6px;

  a {
    color: $black;
  }
}
