.intro-desc {
  font-weight: $font-weight-medium;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  > img {
    display: block;
    margin: 0 auto;
    margin-bottom: ($spacer * 1.5);
  }

  .btn {
    font-family: $font-family-condensed;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }
}
